body{
    background-color: darkslategray;
    color:gainsboro;
    font-size: 16;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px;
}
main{
    text-align: center;
}
main h1{
    font-size: 200%;
    font-weight: bolder;
    margin: 10px 0px;
}
main p{
    margin: 10px 0px;
}
button{
    background-color: rgb(65, 163, 163);
    padding: 5px;
    border-radius: 4px;
    margin: 10px 0px;
}